[submodule "skills/humanizer"]
	path = skills/humanizer
	url = https://github.com/blader/humanizer.git
[submodule "skills/AI-research-SKILLs"]
	path = skills/AI-research-SKILLs
	url = https://github.com/zechenzhangAGI/AI-research-SKILLs.git
[submodule "skills/scientific-agent-skills"]
	path = skills/scientific-agent-skills
	url = https://github.com/K-Dense-AI/scientific-agent-skills.git
[submodule "skills/paper-polish-workflow-skill"]
	path = skills/paper-polish-workflow-skill
	url = https://github.com/Lylll9436/Paper-Polish-Workflow-skill.git
[submodule "skills/humanizer-zh"]
	path = skills/humanizer-zh
	url = https://github.com/op7418/Humanizer-zh.git
